/* Screens Resolution : 1400px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 1400px) {
	
	/* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */
	
	/* ---------------------------------
	2. BODY
	--------------------------------- */

    
}

/* Screens Resolution : 1200px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 1200px) {
	
	/* ---------------------------------
	1. GENERALE
	--------------------------------- */


	/* ---------------------------------
	2. BODY
	--------------------------------- */

    
}

/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width:992px) {
	
	/* ---------------------------------
	1. GENERALE
	--------------------------------- */


	/* ---------------------------------
	2. BODY
	--------------------------------- */


	
}

/* Screens Resolution : 768px and 780px
-------------------------------------------------------------------------- */
@media only screen and (min-width:768px) and (max-width:819px) {
	
	/* ---------------------------------
	1. GENERALE
	--------------------------------- */


	/* ---------------------------------
	2. BODY
    --------------------------------- */
    
/********************************************************VIDEO YOUTUBE*****************************************************/
    iframe{ height: 400px; width: 700px; }
/**************************************************************************************************************************/
  
/***********************************************************CLOSE**********************************************************/
    .close{ margin: 25px 25px 25px 35px; }
/**************************************************************************************************************************/
	
}


/* Screens Resolution : 767px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
	
	/* ---------------------------------
	1. GENERALE
	--------------------------------- */

	/* ---------------------------------
	2. HEADER
	--------------------------------- */
	
/********************************************************VIDEO YOUTUBE*****************************************************/
       iframe{ height: 400px; width: 600px; }
/**************************************************************************************************************************/
  
/****************************************************************CLOSE*****************************************************/
       .close{ margin: 25px 25px 25px 25px; font-size: 45px; }
/**************************************************************************************************************************/



}
    
/* Screens Resolution : 576px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 576px) {
	
	/* ---------------------------------
	1. GENERALE
	--------------------------------- */

	/* ---------------------------------
	2. HEADER
	--------------------------------- */

/********************************************************VIDEO YOUTUBE*****************************************************/
     iframe{ height: 300px; width: 500px; }
/**************************************************************************************************************************/
  
/****************************************************************CLOSE*****************************************************/
     .close{ margin: 110px 25px 25px 25px; font-size: 45px; }
/**************************************************************************************************************************/

	
}

/* Screens Resolution : 0px and 576px
-------------------------------------------------------------------------- */
@media only screen and (min-width: 0px) and (max-width: 576px) {
	
	/* ---------------------------------
	1. GENERALE
	--------------------------------- */

	/* ---------------------------------
	2. HEADER
	--------------------------------- */

	
} 